* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #fff;
  font-size: 1.4rem;
  transition: background-image 1s ease-in-out;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2000px inset;
}

#time {
  font-size: 8rem;
}

.day {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-all;
  max-width: 95vw;
}

#name {
  margin-left: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
  word-break: break-all;
  max-width: 95vw;
}

#next-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background: url(../assets/img/refresh.svg);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#next-image:focus {
  outline: none;
}

#next-image:hover {
  transform: rotate(90deg);
}

.weather {
  position: absolute;
  top: 25px;
  right: 25px;
}

.temperature-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.add-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind {
  margin-right: 5px;
}

.weather-icon {
  margin-right: 5px;
}

.city {
  font-size: 2rem;
}

.lang {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

#next-quote {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  background: url(../assets/img/next.svg);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#next-quote:hover {
  transform: translate(10px);
}

#next-quote:focus {
  outline: none;
}

.blockquote {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.lang {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.lang:hover {
  transform: scale(1.3);
}

@media (max-width: 700px) {
  h1 {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  #time {
    font-size: 6rem;
  }

  #next-image {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
  }

  #next-quote {
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 10px;
  }

  .lang {
    font-size: 1.4rem;
    bottom: 10px;
    left: 10px;
  }

  .weather {
    top: 10px;
    right: 10px;
  }

  .temperature-info {
    font-size: 1.6rem;
  }

  .city {
    font-size: 1.6rem;
  }
}
